.header-fixed {
    width: 100%
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 780px;
    display: block;
    width: 163%;
}
.header-fixed > tbody > tr {
    display: block;
}
.r{
    width: 87%;
}
body{
    font-family: Roboto Slab !important;
}
table.text  {
    width:  100%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
}
/*table.text td {*/
/*    width: 50%; !* Ширина ячеек *!*/
/*    vertical-align: top; !* Выравнивание по верхнему краю *!*/
/*}*/
td.rightcol { /* Правая ячейка */
    text-align: right; /* Выравнивание по правому краю */
}


